#controller {
  width: 150px;
  height: 150px;
  font-size: 150px;
}
.joydiv-controller {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.joydiv-controller .joydiv-up,
.joydiv-controller .joydiv-left,
.joydiv-controller .joydiv-right,
.joydiv-controller .joydiv-down,
.joydiv-controller .joydiv-n,
.joydiv-controller .joydiv-m {
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border: solid transparent;
}
.joydiv-controller .joydiv-up {
  top: -40%;
  left: 50%;
  margin-left: -40%;
  border-bottom-color: #f12f02;
  border-top-width: 0;
  border-left-width: 0.4em;
  border-right-width: 0.4em;
  border-bottom-width: 0.45em;
}
.joydiv-controller .joydiv-left {
  left: -40%;
  top: 35%;
  border-right-color: #f3b802;
  border-top-width: 0.4em;
  border-left-width: 0;
  border-right-width: 0.45em;
  border-bottom-width: 0.4em;
  margin-top: -25%;
}
.joydiv-controller .joydiv-right {
  right: -40%;
  top: 50%;
  margin-top: -40%;
  border-left-color: #f3b802;
  border-top-width: 0.4em;
  border-left-width: 0.45em;
  border-right-width: 0;
  border-bottom-width: 0.4em;
}
.joydiv-controller .joydiv-down {
  bottom: -40%;
  left: 50%;
  margin-left: -40%;
  border-top-color: #f12f02;
  border-top-width: 0.45em;
  border-left-width: 0.4em;
  border-right-width: 0.4em;
  border-bottom-width: 0;
}
.joydiv-controller .joydiv-trackpad {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background: #01be46;
  -webkit-border-radius: 10%;
  border-radius: 10%;
}
.joydiv-controller .joydiv-trackpad .joydiv-tracker {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1em;
  margin-left: -0.1em;
  margin-top: -0.1em;
  border-color: #0067c3;
}
/*
v-n" >timido derecha</button>
                <button id="joydiv-m" >timido izquierda</button>
                <button id="joydiv-l" >zapateo</button>
*/
#joydiv-n {
  position: absolute;
  background: #11adb9;
  bottom: 10%;
  right: 5%;
  font-size: 25px;
  border-color: #11adb9;
  padding: 10px;
}
#joydiv-m {
  position: absolute;
  background: #009865;
  font-size: 25px;
  padding: 10px;
  bottom: 10%;
  right: 25%;
}
#joydiv-l {
  position: absolute;
  font-size: 25px;
  background: #f9ce47;
  padding: 10px;
  bottom: 10%;
  right: 45%;
}
#article_2 {
  background: url("../img/20140625_193907.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
background-top
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  color: #f3b802;
  font-size: 20px;
}
#article_2 div {
  text-align: center;
}
#article_2 div h1 {
  font-weight: bold;
  font-size: 3.5em;
  color: #f12f02;
  padding: 8px;
}
#article_2 div ul {
  position: absolute;
  left: 25%;
  list-style: none;
  text-align: center;
}
#article_2 div ul li {
  text-align: left;
  line-height: 2;
  font-size: 1.4em;
}
.fadein {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 1s ease-in;
}
.fadeout {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s ease-out;
}
textarea {
  font: 16px "Source Sans", helvetica, arial, sans-serif;
  font-weight: 200;
  display: block;
  -webkit-border-radius: 6px;
  width: 100%;
  height: 140px;
}
.dispositivo {
  font-size: 2em;
}
.dispositivo #deviceList {
  padding: 25px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
#connection {
  padding: 7%;
  margin-bottom: 40px;
  text-align: center;
}
#chat {
  display: none;
  margin: 20px;
}
#sendButton {
  margin-top: 4px;
}
#message {
  max-width: 185px;
}
select {
  min-width: 200px;
}
form {
  margin-bottom: 20px;
}
footer nav {
  padding: 0px;
}
footer nav a {
  font-size: 3em;
}
